{% extends 'base.html' %}
{% load static %}
{% block title %}
<title>歡迎咖啡本店</title>

<style>
  .my-h4,.my-h5 {
    color:white;
  }
  img{
    height: 700px;
    max-width: 100%;
  }
  /* span 設定背景跟hover(滑動)變色 */
  span{
    background-color:black;
  }
  span:hover{
    background-color: red;
  }
</style>

{% endblock %}
{% block content %}
<!-- 輪播照片區塊 -->
<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    {% for product in productlist %}
    <div class="carousel-item {% if product.pimage == 'americano.png' %} active {% endif %}" data-bs-interval="3000">
      <img src="/static/images/products/{{product.pimage}}" class="d-block w-100" alt="...">
      <!-- product就是views.py裡面跟資料庫要資料後再進來執行的 -->
      <div class="carousel-caption d-none d-md-block">
        <h4 class="my-h4">{{product.pname}}</h4>
        <h5 class="my-h5">{{product.pdescription}}</h5>
      </div>
    </div>
    {% endfor %}
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">上一頁</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">下一頁</span>
  </button>
</div>
{% endblock %}